.brightness-effect:hover {
    filter: brightness(1.2);
}

.brightness-effect:active {
    filter: brightness(1.3);
}

.navbar {
    background-color: #9cc3ff;
    text-decoration: none !important;
}

.navbar-brand {
    font-weight: bold;
}

.nav-item {
    background-color: #0d6efd;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition:
        background-color 0.3s,
        color 0.3s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-right: 7px;
}

.nav-item:hover {
    background-color: #0b5ed7;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #0b5ed7;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    width: 7px;
    background-color: #9cc3ff;
}
